[submodule "submodules/rare-lib-common"]
	path = submodules/rare-lib-common
	url = git@gitlab.rareloop.com:ionic-libraries/rare-lib-common.git
	branch = master
[submodule "submodules/rare-lib-type-orm"]
	path = submodules/rare-lib-type-orm
	url = git@gitlab.rareloop.com:ionic-libraries/rare-lib-type-orm.git
    branch = master
[submodule "submodules/rare-lib-browser"]
	path = submodules/rare-lib-browser
	url = git@gitlab.rareloop.com:ionic-libraries/rare-lib-browser.git
    branch = master
[submodule "submodules/rare-lib-sqlite"]
	path = submodules/rare-lib-sqlite
	url = git@gitlab.rareloop.com:ionic-libraries/rare-lib-sqlite.git
    branch = master
